### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
...
celerybeat-schedule
celerybeat.pid
*.sage.py

# Type checking, IDEs, and configs
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & Secrets
.env
.venv
env/
venv/
__pypackages__/

### Node.js ###
node_modules/
npm-debug.log*
yarn-error.log*

# Build Artifacts
dist/
worker/
.mf

### Misc ###
.pytest_cache/
.coverage*
.ipynb_checkpoints
cover/
*.db
docs/_build/
venv.bak/
