# --- For Bot Working --------- #
pyrogram==2.0.106
pyromod==1.5
pyrofork==2.3.45
tgcrypto==1.2.5

# --- For Database ------------ #
pymongo[srv]==4.14.1
motor==3.5.1
umongo==3.1.0
marshmallow==3.22.0
dnspython==2.7.0

# --- For Web & API ----------- #
aiohttp==3.10.10
requests==2.32.3
beautifulsoup4==4.12.3
shortzy==0.0.8
pyshorteners==1.0.1
fastapi[standard]==0.115.0
cloudscraper==1.2.71
python-decouple==3.8
python-dotenv==1.0.1

# --- For Media & Tools ------- #
yt-dlp==2025.8.27
ytthumb==1.4.6
youtube-search-python==1.4.6
youtube-search==2.1.2
opencv-python-headless==4.10.0.84
Pillow==10.4.0
hachoir==3.3.0
ffmpeg-python==0.2.0
gTTS==2.5.1
ultralytics==8.3.50

# --- For System Utils -------- #
numpy==2.1.1
psutil==6.0.0
ujson==5.10.0
wget==3.2
aiofiles==24.1.0
apscheduler==3.11.0
colorama==0.4.6
humanize==4.10.0
wheel==0.44.0
asyncio==3.4.3

# --- For AI / APIs ----------- #
openai==1.45.1
boto3==1.35.27
python-jose[cryptography]==3.3.0
